@charset "EUC-KR";
@charset "UTF-8";
html, body {
	margin: 0;
 	height: 100%;
  	overflow-y: auto;
	min-height:100%;
	max-height: fill-available;
}

form {
	min-height:100%;
	max-height: none;
	width: 100%;
	height: 100%; 
}
/* jointype, loginform */
/* height가 꽉 차지 않는 페이지 */
.LineOutBox {
	background-color: #f3f3f3;
	width: 100%;
	height: 100%; 
	min-height:100%;
	text-align: center;
}
/* height가 꽉 넘치는 페이지 */
.PostOutBox {
	background-color: #f3f3f3;
	width: 100%;
	height: auto; 
	min-height:100%;
	max-height: none;
	text-align: center;
	word-break: break-all;
	word-wrap: break-word;
}

.PostInBox {
	display: inline-block;
	max-height: none;
	width: 60%;
	height: 100%;
	text-align: center;
	background-color: #FFFFFF;
	
}
.PostBanner{
	margin-bottom: 5%;
	margin-top:3%;
	text-align: center;
	justify-content: center;
}
 button {
	border-color:#fb526b;
	background-color:#fb526b;
	font-family: inherit;
	font-size: 14px;
}
/*Main.jsp */
.MainBox {
	display: inline-block;
	width:70%;
	height: auto;
	text-align: center;
	background-color: #FFFFFF;
}
.header {
	text-align: center;
	display: inline-block;
	height: 20%;
}

.center {
	border-top:2px solid #dddddd;
	display: flex;
}

.nav {
	text-align: left;
}

.MainContent {
	overflow:hidden;
	flex-direction: row;
	width:100%;
	text-align:center;
	justify-content: center;
	overflow-x: hidden;
}

.nav-item {
	text-align: left;
}
.MainFooter{
	font-size:12px;
	margin-top:5%;
	padding-top:2%;
	border-top:2px solid #dddddd;
	width:100%;
	text-align:center;
	justify-content: center;
	height: 120px;
}
/* Banner */
.bannerOutBox {
	text-align: center;
	width: 100%;

}
/* 로그인,회원가입 버튼그룹 */
.Bannerbtn {
	text-align: right;
	margin-right: 1%;
	
}
.Bannerbtn a{
	color: #777777;
	font-size: 13px;
}
.BannerbtnLine{
	border-right: 1px solid #dddddd;
	padding-right: 1%;
}

/* write폼  */
.writeBoxBottom {
	background-color: #FFFFFF;
	width: 100%;
	display: inline-block;
}

.writeBtn {
	background-color: #FFFFFF;
	margin-top: 2%;
	display: flex;
	justify-content: flex-end;
}

.select {
	background-color: #FFFFFF;
	display: flex;
	width: 21%;
}

.writeTitle {
	text-align: left;
	margin-bottom: 3%;
}

.selectBottomBox {
	width: 100%;
	display: inline-block;
	text-align: left;
}

.file {
	text-align: left;
}
/* 로그인폼  */
.centerPostOut{
	display:inline-block;
	text-align:center;
	width:100%;
	margin-top:6%;
}
.centerPostOut p{
	margin-top:15px;
	color: #555555;
	font-family: inherit;
	font-size: 25px;
}
.LoginBox {
	display: inline-block;
	height:60%;
	text-align: center;
	border: 1px solid #dddddd;
   	border-radius: 0.9em;
  	width: 40%;
}
.loginForm {
	text-align: center;
	display: inline-block;
	width: 80%;
}

.btn-group {
	margin-top: 5%;
	text-align: center;
	display: inline-block;
	width: 100%;
	height: 50px;
}
.text{
text-align: center;
}
.inputID {
	text-align: center;
	position: relative;
	margin-bottom: 5px;
	margin-top: 20px;
}
.loginBtn input {
	text-align: center;
	margin-top: 10%;
	margin-bottom: 8%;
	width: 100%;
	color:white;
	border-color:#fb526b;
	background-color:#fb526b;
	font-family: inherit;
	font-size: 14px;
	font-weight: bold;
}
	

.loginJoiinURL {
	width: 100%;
	font-size: 17%;
	margin-bottom: 5%;
	text-align: right;
}

.joinbtn a:link {
	color: #999999;
}

h6 {
	size: 10px;
}
/* left Nav */
.leftOutBox {
	width:100%;
	height: 100%;
	background-color: #ffffff;
}
.thumbnail{
	padding-left: 5px;
}

.thumbnailImg {
	margin-top:15%;
	text-align: center;
}

.thumbnail {
	margin-left: 17px;
	margin-right: 17px;
	text-align: left;
	font-size: 15px;
}

.writebtn {
	margin-top: 5%;
	margin-bottom: 5%;
	
}

.writebtn button{
	color:white;
	width: 100%;
	border-color:#fb526b;
	background-color:#fb526b;
	width: 100%;
	font-family: inherit;
	font-size: 14px;
	font-weight: bold;
} 

.deleteUser{
	margin-top:20px;
	margin-left: 15px;
	background: none;
}
.deleteUser a{
	color: #808080;
	font-size: 12px;
}
.nav-item a{
	color: #777777;
}
/* join */
.joinInBoxBottom{
	display: inline-block;
	text-align: center;
	width: 70%;
	background-color: #FFFFFF;
}
.joinForm{
	margin-top:5%;
	text-align: left;
	background-color: #FFFFFF;
}
.loginJoiinURL span{
	font-size:15%;
	font-weight: bold; 
	margin-bottom: 5%;
}
.joinbtn {
	display: inline-block;
	text-align: center;
	font-size: 13px;
	margin-top: 10px;
	width: 55%;
	margin-bottom: 10px;
}
.joinbtn input{
	color:white;
	width: 80%;
	border-color:#fb526b;
	background-color:#fb526b;
	font-family: inherit;
	font-size: 14px;
	font-weight: bold;
}
#UserInfo

.UserInfoOutBox{
	width:100%;
	background-color: #f3f3f3;
	height: 80%; 
	display: inline-block;
	text-align: center;
}
.userFormName{
	text-align: center;
	font-family: inherit;
}
.userForm{
	padding-top:5px;
	display: inline-block;
	margin-top:5%;
	padding-left:7px;
	border: 1px solid #dddddd;
	width: 50%;
	height: 35px;
	font-family: inherit;
	text-align: left;
}
.userInfoBtn{
	font-family: inherit;
	text-align: center;
	margin-top:5%;
}
.formfont{
	font-family: inherit;
	text-align: left;
}
.updateInput{
	border: 1px solid #dddddd;
	padding-top:5px;
	display: inline-block;
	margin-top:5%;
	padding-left:7px;
	width: 43%;
	height: 35px;
	font-family: inherit;
	text-align: left;
}
.UserOutBox{
	width:100%;
	text-align: center;
}
.UserInBox{
	width:38%;
	height:100%;
	display: inline-block;
	border: 1px solid #dddddd;
	text-align: left;
}
.userInfoFormTag{
	display: inline;
}
.updateUserInput{
	margin-top:8%;
	padding-top:5x;
	display: inline-block;
	margin-top:5%;
	padding-left:7px;
	width:100;
	height: 35px;
	font-family: inherit;
	text-align: left;
}